:8000

route /api/v1/images/* {
    reverse_proxy to localhost:5000 {  
        transport http {  
            dial_timeout 5s  
            response_header_timeout 30s  
        }  
    }  
}

route /api/v1/* {
    reverse_proxy to localhost:4000 {  
        transport http {  
            dial_timeout 5s  
            response_header_timeout 30s  
        }  
    }  
}
